* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

#canvas1 {
    background-image: url("./imgs/flappybirdbg.png");
}

#player {
    display: none;
}

#topPipe {
    display: none;
}

#bottomPipe {
    display: none;
}